# Folders to ignore
labels/
data/
test/
data_synth/
test_synth/
synth/
trans/
.venv/
__pycache__/

# HTML files
*.html
*png.png

# Poetry config files
poetry.lock
pyproject.toml

# Jupyter notebooks
notebook.ipynb
test.ipynb

# Test files
img.png
loss_curve.png
merged_common_sheets.xlsx
merged_common_sheets2.xlsx
merged_common_sheets3.xlsx
output.xlsx
output2.xlsx
test_cnn.py
baseline.html
time_precision.ipynb
image_processing.py
inference_pipeline.ipynb
test_VIT.ipynb
test_reverse.ipynb
train_shapes.json
model_accuracy_summary.csv
all_predictions.csv
